/*首页样式*/
/*********************广告-开始-***********************/
.sn-top-banner{
    background-color: rgb(255,151,186);
    height: 10rem;

    /*相对定位*/
    position: relative;
}

.sn-top-banner .top-banner-center{
    height: 100%;
}


.sn-top-banner .close-banner{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.3rem;
    right: 8rem;
    background: url("../images/index.png") -24.1rem -14.5rem;
}

.sn-top-banner .close-banner:hover{
    background: url("../images/index.png") -25.6rem -14.5rem;
}
/*********************广告-结束-***********************/

/*********************顶部通栏-开始-***********************/
.sn-toolbar{
    background-color: #f5f5f5;
    height: 3.5rem;
    line-height: 3.5rem;
    border: 1px solid #eeeeee;
}

.sn-toolbar li{
    float: left;
}

.sn-toolbar li{
    position: relative;
    padding: 0 2.5rem 0 1rem;
}

.sn-toolbar li.down i{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    height: 0.8rem;
    width: 1.5rem;
    overflow: hidden;
}

.sn-toolbar li.down i s{
    position: absolute;
    left: 0;
    top: -1.7rem;
    font-size: 1.3rem;
    color: #999999;
}

.sn-toolbar .cart{
    width: 3rem;
    vertical-align: middle;
    margin-top: -0.5rem;
}

.sn-toolbar li.down .address-icon{
    position: absolute;
    left: -0.4rem;
    top: 1rem;
    background: url(../images/index.png) -38.7rem -18.3rem;
    width: 2rem;
    height: 2rem;
}

/*********************顶部通栏-结束-***********************/


/*********************顶部搜索-开始-***********************/
.sn-top-search{
    width: 100%;
    height: 11rem;
    background-color: white;
}

.sn-top-search .logo-set{
    width: 40rem;
    height: 100%;
}

.sn-top-search .logo-set .main-logo{
    width: 19rem;
    background: url("../images/sn-logo.png") no-repeat center;

}

.sn-top-search .logo-set .sub-logo{
    width: 16rem;
    background: url("../images/sn-sub-logo.gif") no-repeat center;
}

.sn-top-search .logo-set .main-logo,
.sn-top-search .logo-set .sub-logo {
    height: 11rem;
    float: left;
    -webkit-background-size: contain;
    background-size: contain;
}

.sn-top-search .search-input{
    width: 54rem;
    height: 4rem;
    margin-top: 3rem;
    background-color: skyblue;
}

.sn-top-search .search-input input:first-child{
    width: 42rem;
    height: 4rem;
    border: 0.2rem solid #F90;
    box-sizing: border-box;
    padding: 0 1.2rem;
    float: left;
}

.sn-top-search .search-input input:last-child{
    width: 12rem;
    height: 4rem;
    background-color: #F90;
    color: white;
    font-size: 1.8rem;
    /*font-weight: bold;*/
    float: left;
}

.sn-top-search .search-input input:last-child:hover{
    background-color: #F80
}

.sn-top-search .search-more-link{
    width: 54rem;
    height: 1.8rem;
    margin-top: 0.8rem;
    line-height: 1.8rem;
}

.sn-top-search .search-more-link ul li{
    float: left;
    margin-right: 1rem;
}

/*********************顶部搜索-结束-***********************/


/*********************导航-结束-***********************/
.sn-nav{
    width: 100%;
    height: 3.8rem;
    background-color: white;
}

.sn-nav-menu{
    width: 19rem;
    height: 3.8rem;
    background-color: #F90;
    float: left;
}

.sn-nav-menu .sn-nav-menu-all{
    height: 3.8rem;
}

.sn-nav-menu .sn-nav-menu-all a{
    display: inline-block;
    width: 100%;
    height: 3.8rem;
    line-height: 3.8rem;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1rem;
}

.sn-nav-menu .sn-nav-menu-all i{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../images/index.png) 0 0;
    float: left;
    margin-top: 1.4rem;
}

.sn-nav-menu .sn-nav-menu-all span{
    float: left;
    margin-left: 0.7rem;
}

.sn-nav-menu:hover{
    background-color: #F80;
}

.sn-nav-items{
    float: left;
    width: 78.5rem;
    height: 3.8rem;
    padding-left: 1rem;
    line-height: 3.8rem;
}

.sn-nav-items a{
    float: left;
    display: block;
    color: black;
    height: 3.8rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2.5rem;
}

.sn-nav-items a:hover{
    color: #F80;
}

.sn-nav .sn-nav-ad{
    width: 17rem;
    height: 3.8rem;
    float: right;
}
/*********************导航-结束-***********************/

/*********************轮播中心-开始***********************/

/*双飞翼布局*/
.sn-casual{
    height: 48.2rem;
    width: 100%;
    position: relative;
}

.sn-casual .casual-left{
    float: left;
    height: 48.2rem;
    width: 19rem;
    margin-left: -100%;
    background-color: #333;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.sn-casual .casual-right{
    float: left;
    height: 48.2rem;
    width: 17rem;
    margin-left: -17rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
}

.sn-casual .casual-center{
    float: left;
    width: 100%;
    height: 48.2rem;
}

.sn-casual .casual-center .casual-center-w{
    margin: 0 17rem 0 19rem;
    height: 100%;
    background-color: red;
    position: relative;
}

/*左侧快捷标签list*/
.sn-casual .casual-left ul li{
    height: 3.2rem;
    width: 19rem;
    padding-left: 1rem;
    color: white;
    font-size: 1.3rem;
    line-height: 3.2rem;
    box-sizing: border-box;
}

.sn-casual .casual-left ul li:hover{
    background-color: gray;
}

.sn-casual .casual-left ul li a{
    color: white;
    margin: 0 0.5rem;
}

.sn-casual .casual-left ul li a:hover{
    color: #F90;
}

/*左右两边的背景图*/
.sn-casual .casual-center .casual-center-w .bg-image{
    width: 100%;
    height: 100%;
}

.sn-casual .casual-center .casual-center-w .bg-image img:first-child{
    float: left;
    margin-left: -54.5rem;
}

.sn-casual .casual-center .casual-center-w .bg-image img:last-child{
    float: right;
    margin-right: -54.5rem;
}

/*右侧*/
.sn-casual .casual-right{
    background-color: white;
}
.sn-casual .casual-right .user-info{
    width: 17rem;
    height: 16.9em;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
}

.sn-casual .casual-right .user-info .user-img{
    width: 5.2rem;
    height: 5.3rem;
    background: url("../images/index.png") -93px -23px ;
    margin: 2rem auto;
}

.sn-casual .casual-right .user-info .button{
    height: 4.3rem;
    width: 100%;
    line-height: 4.3rem;
    box-sizing: border-box;
}

.sn-casual .casual-right .user-info .button a{
    display: inline-block;
    width: 7rem;
    height: 2.2rem;
    margin-top: 1.05rem;
    line-height: 2.2rem;
    margin-left: 1rem;
    float: left;
    color: #F90;
}

.sn-casual .casual-right .user-info .button a:first-child{
    border: 1px solid #F90;
    width: 6.9rem;
    height: 2.1rem;
}

.sn-casual .casual-right .user-info .button a:last-child{
    background: url("../images/index.png") -295px -251px;
}

.sn-casual .casual-right .user-info .bottom {
    width: 100%;
    height: 1.8rem;
    margin-top: 1rem;
}

.sn-casual .casual-right .user-info .bottom a{
    float: left;
    display: inline-block;
    width: 7rem;
    height: 1.8rem;
    margin-left: 1rem;
}

.sn-casual .casual-right .user-info .bottom a:first-child{
    background: url("../images/index.png") -670px -256px;
}

.sn-casual .casual-right .user-info .bottom a:last-child{
    background: url("../images/index.png") -670px -288px;
}

/*右侧-头条*/
.sn-casual .casual-right .toutitao{
    width: 17rem;
    height: 16.7rem;
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
}

.sn-casual .casual-right .toutitao ul{
    animation: toutiaoMoving 4s ease-in-out infinite;
}

.sn-casual .casual-right .toutitao ul:hover{
    animation-play-state: paused;
}

.sn-casual .casual-right .toutitao ul li{
    width: 100%;
    height: 4.7em;
}

.sn-casual .casual-right .toutitao ul li a{
    display: inline-block;
    width: 17rem;
    height: 4.7em;
    padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;
    color: black;
}

.sn-casual .casual-right .toutitao ul li a:hover{
    color: #F90;
}

.sn-casual .casual-right .toutitao ul li a i{
    color: #F90;
    margin-right: 0.3rem;
}

@keyframes toutiaoMoving {
    60%{transform: translateY(0)}
    100%{transform: translateY(-16.7rem)}
}

/*右侧-快捷按钮*/
.sn-casual .casual-right .kuaijie{

}

.sn-casual .casual-right .kuaijie ul li
{
    float: left;
    width: 5.6rem;
    text-align: center;
}

.sn-casual .casual-right .kuaijie ul li:nth-child(1),
.sn-casual .casual-right .kuaijie ul li:nth-child(2),
.sn-casual .casual-right .kuaijie ul li:nth-child(4),
.sn-casual .casual-right .kuaijie ul li:nth-child(5){
    border-right: 0.1rem solid #f2f2f2;
}

.sn-casual .casual-right .kuaijie ul li:nth-child(1),
.sn-casual .casual-right .kuaijie ul li:nth-child(2),
.sn-casual .casual-right .kuaijie ul li:nth-child(3){
    border-bottom: 1px solid #f2f2f2;
}


.sn-casual .casual-right .kuaijie ul li a{
    display: inline-block;
    width: 5rem;
    height: 2.3rem;
    margin-top: 0.8rem;
    color: black;
}

.sn-casual .casual-right .kuaijie ul li a:hover{
    color: #FF9900;
}

.sn-casual .casual-right .kuaijie ul li a img{
    width: 2.4rem;
    height: 2.4rem;
    margin-bottom: 0.1rem;
}

/*中间轮播图*/
.sn-casual .casual-center .casual-center-div{
    float: left;
    width: 83rem;
    height: 48.2rem;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.sn-casual .casual-center .casual-center-image {
    width: 332rem;
    height: 100%;
}

.sn-casual .casual-center .casual-center-image ul{
    animation: casualScrolling 8s linear infinite;
}

.sn-casual .casual-center .casual-center-image ul li{
    float: left;
}

@keyframes casualScrolling {
    20%{transform: translateX(0)}
    33.3%{transform: translateX(-83rem)}
    53.3%{transform: translateX(-83rem)}
    66.6%{transform: translateX(-166rem)}
    86.6%{transform: translateX(-166rem)}
    100%{transform: translateX(-249rem)}
}

.sn-casual .casual-center .casual-footer-ad{
    width: 81.6rem;
    height: 122px;
    position: absolute;
    left: 0.7rem;
    bottom: 0.7rem;
    box-sizing: border-box;
}

.sn-casual .casual-center .casual-footer-ad ul li{
    float: left;
    margin-right: 0.2rem;
    text-align: center;
}

.sn-casual .casual-center .casual-footer-ad ul li a{
    display: inline-block;
    width: 20.1rem;
    height: 12.2rem;
    margin-right: 0.1rem;
    background-color: white;
}

.sn-casual .casual-center .casual-footer-ad ul li a div{
    float: left;
    width: 10rem;
    height: 100%;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    color: #999999;
    font-size: 1.3rem;
}

.sn-casual .casual-center .casual-footer-ad ul li a div span{
    color: #FF6600;
    font-size: 1.6rem;
    font-weight: bold;
}

.sn-casual .casual-center .casual-footer-ad ul li:nth-child(2) span{
    color: mediumpurple;
}

.sn-casual .casual-center .casual-footer-ad ul li:nth-child(3) span{
    color: darkgreen;
}

.sn-casual .casual-center .casual-footer-ad ul li:nth-child(4) span{
    color: #31b0d5;
}

.sn-casual .casual-center .casual-footer-ad ul li a img{
    float: left;
    width: 8rem;
    height: 8rem;
    margin-top: 3rem;
}
/*********************轮播中心-结束-***********************/


/*********************轮播中心下方的广告-开始-***********************/
.sn-top-ad-list{
    width: 100%;
    height: 59.6rem;
}

.sn-top-ad-list .sn-top-ad-list-bg{
    height: 100%;
    margin: 0 auto;
    background: url("../images/sn-ad-bg.png") center no-repeat;
}

.sn-top-ad-list .sn-top-ad-list-header{
    width: 100%;
}

.sn-top-ad-list .sn-top-ad-list-header a{
    display: inline-block;
    width: 100%;
    height: 15rem;
    background: url("../images/sn-ad-bg-title.png") center no-repeat;
}

.sn-top-ad-list .sn-top-ad-list-content{
    width: 100%;
    height: 44.6rem;
}

.sn-top-ad-list .sn-top-ad-list-content ul li{
    float: left;
    width: 23rem;
    height: 20.8rem;
    overflow: hidden;
    margin: 0 1rem 1.45rem 0;
    text-align: center;
}

.sn-top-ad-list .sn-top-ad-list-content ul li:nth-child(5),
.sn-top-ad-list .sn-top-ad-list-content ul li:nth-child(10){
    margin-right: 0;
}

.sn-top-ad-list .sn-top-ad-list-content ul li img{
    width: 12rem;
    height: 12rem;
    margin-top: 1rem;
}

.sn-top-ad-list .sn-top-ad-list-content ul li span{
    display: block;
}

.sn-top-ad-list .sn-top-ad-list-content ul li span:first-of-type{
    color: white;
    font-size: 1.7rem;
    font-weight: bolder;
    margin: 1rem 0 0.8rem 0;
}

.sn-top-ad-list .sn-top-ad-list-content ul li span:last-of-type{
    color: orangered;
    font-size: 1.4rem;
    font-weight: bold;
}
/*********************轮播中心下方的广告-结束-***********************/

/*********************限时抢购-开始-***********************/
.sn-xianshi .sn-xianshi-nav{
    height: 4.6rem;
    margin-top: 2rem;
    background-color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid #e7e7e7;
    line-height: 4.6rem;
}

.sn-xianshi .sn-xianshi-nav img{
    float: left;
    margin: 1.3rem 2rem 1.3rem 2rem;
}

.sn-xianshi .sn-xianshi-nav .time-title{
    float: left;
}

.sn-xianshi .sn-xianshi-nav .sn-xianshi-time{
    float: left;
    margin-left: 1rem;
}

.sn-xianshi .sn-xianshi-nav .sn-xianshi-time span{
    background-color: #333;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    color: white;
    border-radius: 0.5rem;
}

.sn-xianshi .sn-xianshi-nav .sn-tab-list{
    float: left;
    width: 57.9rem;
    height: 100%;
    margin-left: 6.2rem;
}

.sn-xianshi .sn-xianshi-nav .sn-tab-list ul li{
    float: left;
    width: 13.3rem;
    height: 2.4rem;
    text-align: center;
    margin-right: 5.5rem;
    margin-top: 1.1rem;
    line-height: 2.4rem;
    color: black;
    font-size: 1.4rem;
}

.sn-xianshi .sn-xianshi-nav .sn-tab-list ul li:last-child{
    margin-right: 0;
}

.sn-xianshi .sn-xianshi-nav .sn-tab-list ul li:hover{
    color: white;
    background: url("../images/index.png") -561px 0;
}

.sn-xianshi .sn-xianshi-nav .right-more{
    float: right;
    display: inline-block;
    width: 7.6rem;
    color: #999;
    font-size: 1.4rem;
    position: relative;
    margin-right: 1rem;
}

.sn-xianshi .sn-xianshi-nav .right-more i{
    background: url("../images/index.png") -561px -36px;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1.54rem;
    margin-left: 0.3rem;
}


.sn-xianshi .list-content{
    width: 100rem;
    height: 26rem;
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    float: left;
}

.sn-xianshi .list-content ul a{
    box-sizing: border-box;
    float: left;
    display: inline-block;
    width: 20rem;
    height: 24rem;
    margin-top: 1rem;
    border-right: 1px solid #e7e7e7;
    text-align: left;
    color: black;
}

.sn-xianshi .list-content ul a:hover{
    color: #F90;
}

.sn-xianshi .list-content ul a img{
    display: block;
    width: 15.9rem;
    height: 15.9rem;
    margin: 1rem 2rem;
}

.sn-xianshi .list-content ul a p{
    margin-left: 2rem;
}

.sn-xianshi .list-content ul a span{
    float: left;
    left: 0;
    color: #F60;
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 2rem;
}

.sn-xianshi .list-content ul a span:last-of-type{
    color: #999;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0.4rem auto auto 0.5rem;
    position: relative;
}

.sn-xianshi .list-content ul a span:last-of-type::after{
    content: '';
    display: inline-block;
    width: 3rem;
    height: 1rem;
    border-bottom: 1px solid #999;
    position: absolute;
    top: -0.15rem;
    left: 0;
}

.sn-xianshi .list-content ul a .precent{
    margin-top: 3rem;
    width: 100%;
    height: 2rem;
}

.sn-xianshi .list-content ul a .precent p{
    display: inline-block;
    background: url("../images/index.png") -561px -74px;
    width: 10rem;
    height: 0.7rem;
    position: relative;
}

.sn-xianshi .list-content ul a .precent p i{
    display: inline-block;
    width: 4.2rem;
    height: 0.6rem;
    background: url("../images/index.png") -561px -94px;
    position: absolute;
    top: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.sn-xianshi .list-content ul a .precent p s{
    display: inline-block;
    width: 10rem;
    height: 1rem;
    font-size: 1rem;
    color: #999;
    position: absolute;
    top: -0.5rem;
    left: 11rem;
}

.sn-xianshi .list-right{
    width: 19rem;
    height: 26rem;
    background-color: white;
    float: left;
    margin-left: 0;
    border-bottom-right-radius: 0.5rem;
}

.sn-xianshi .list-right img{
    margin: 1rem 1rem;
}

/*********************限时抢购-结束-***********************/


/*********************分类-开始-***********************/
.sn-fenlei{
    height: 42.7rem;
    width: 100%;
    margin-top: 2rem;
}

.sn-fenlei .sn-fenlei-content{
    height: 42.7rem;
}

.sn-fenlei .sn-fenlei-content .fatherCell{
    float: left;
    width: 39rem;
    height: 42.7rem;
    background-color: white;
    margin-right: 1rem;
    overflow: hidden;
}

.sn-fenlei .sn-fenlei-content .fatherCell:last-child{
    margin-right: 0;
}

.fatherCell nav{
    width: 100%;
    height: 4.5rem;
    background-color: #f7faf9;
    color: #69a88f;
    line-height: 4.5rem;
    position: relative;
}

.fatherCell nav span{
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 2rem;
}

.fatherCell nav span::before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 0.5rem;
    height: 1.8rem;
    background-color: #69a88f;
    left: 0;
    top: 1.35rem;
}

.fatherCell nav a{
    position: absolute;
    right: 3rem;
    color: #999;
    font-size: 1.4rem;
}

.fatherCell nav a i{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../images/index.png") -561px -36px;
    position: absolute;
    top: 1.5rem;
    right: -2rem;
}

.fatherCell:nth-child(2) nav{
    color: #ff9902;
    background: #fffaf2;
}

.fatherCell:nth-child(2) nav span::before{
    background-color: #ff9902;
}

.fatherCell:nth-child(3) nav{
    color: #db5757;
    background: #fdf6f6;
}

.fatherCell:nth-child(3) nav span::before{
    background-color: #db5757;
}

/*必抢清单*/
.sn-fenlei-content .biqiang-content{
    width: 100%;
    height: 38rem;
    text-align: center;
}
.sn-fenlei-content .biqiang-content ul{
    width: 400%;
    animation: biqiangScrolling 8s linear infinite;
}

.sn-fenlei-content .biqiang-content ul:hover{
    animation-play-state: paused;
}

.sn-fenlei-content .biqiang-content ul li{
    float: left;
    width: 39rem;
    height: 38rem;
}

@keyframes biqiangScrolling {
    20%{transform: translateX(0)}
    33.3%{transform: translateX(-39rem)}
    53.3%{transform: translateX(-39rem)}
    66.6%{transform: translateX(-78rem)}
    86.6%{transform: translateX(-78rem)}
    100%{transform: translateX(-117rem)}
}

.sn-fenlei-content .biqiang .big-image{
    display: block;
    width: 35rem;
    height: 15rem;
    margin: 1rem auto auto auto;
}

.sn-fenlei-content .fatherCell .biqiang-content p:first-of-type{
    color: black;
    font-size: 1.8rem;
    margin: 1rem auto;
}

.sn-fenlei-content .fatherCell .biqiang-content p:last-of-type{
    margin: 0 auto;
    color: #999;
    font-size: 1.4rem;
    width: 35rem;
    height: 4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.sn-fenlei-content .biqiang .small-image{
    margin-top: 1rem;
}


/*苏宁Outlets和排行榜*/
.sn-fenlei .outlets-content{
    width: 39rem;
    height: 38rem;
}

.sn-fenlei .outlets-content ul{
    width: 100%;
    margin: 1rem 1rem;
}

.sn-fenlei .outlets-content ul li{
    float: left;
    width: 18.45rem;
    height: 18rem;
    overflow: hidden;
}

.sn-fenlei .outlets-content ul li:nth-child(1),
.sn-fenlei .outlets-content ul li:nth-child(3){
    border-right: 1px solid #e7e7e7;
}

.sn-fenlei .outlets-content ul li:nth-child(1),
.sn-fenlei .outlets-content ul li:nth-child(2){
    border-bottom: 1px solid #e7e7e7;
}

.sn-fenlei .Outlets .outlets-content{
    text-align: center;
}

.sn-fenlei .Outlets .outlets-content a:first-child{
    display: block;
    width: 11rem;
    height: 11rem;
    margin: 0 auto;
    overflow: hidden;
}

.sn-fenlei .Outlets .outlets-content .li-content{
    width: 11rem;
    height: 22rem;
    transition: all 1s ease;
}

.sn-fenlei .Outlets .outlets-content .li-content:hover{
    transform: translateY(-11rem);
}

.sn-fenlei .Outlets .outlets-content .li-content .first-image,
.sn-fenlei .Outlets .outlets-content .li-content div{
    width: 11rem;
    height: 11rem;
}

.sn-fenlei .Outlets .outlets-content .li-content div .sec-image{
    width: 7.2rem;
    height: 3.5rem;
    margin: 1rem auto;
}

.sn-fenlei .Outlets .outlets-content .li-content div span{
    display: inline-block;
    margin-top: 1rem;
    width: 60px;
    height: 18px;
    color: #FFF;
    background: #f67f7e;
    border-radius: 0.9rem;
}

.sn-fenlei .Outlets .outlets-content a:last-child{
    display: block;
    width: 11rem;
    height: 5rem;
    margin: 0 auto;
}

.sn-fenlei .Outlets .outlets-content a:last-child p:first-child{
    font-size: 1.4rem;
    color: black;
    margin-bottom: 0.5rem;
}

.sn-fenlei .Outlets .outlets-content a:last-child p:last-child{
    font-size: 1.2rem;
    color: #dd5352;
}

/*********************分类-结束-***********************/


/*********************手机、电脑-开始-***********************/
.sn-phone .w{
    height: 56.5rem;
    margin-top: 2rem;
    overflow: hidden;
}

.sn-phone .phone,
.sn-phone .computer{
    float: left;
    width: 59rem;
    height: 56.5rem;
}

.sn-phone .phone{
    margin-right: 1rem;
    border-bottom-left-radius: 0.5rem;
}

.sn-phone .computer{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/*导航栏*/
.sn-phone .sn-phone-pc-nav
{
    width: 100%;
    height: 4.7rem;
    background-color: #f9f9f9;
}

.sn-phone .phone .sn-phone-pc-nav{
    border-top-left-radius: 0.5rem;
}

.sn-phone .computer .sn-phone-pc-nav{
    border-top-right-radius: 0.5rem;
}

.sn-phone .computer .sn-phone-content{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
}

.sn-phone .sn-phone-pc-nav span{
    float: left;
    display: inline-block;
    height: 100%;
    line-height: 4.7rem;
    color: #33AE75;
    font-size: 1.8rem;
    font-weight: bold;
}

.sn-phone .sn-phone-pc-nav span::before{
    content: '';
    float: left;
    display: inline-block;
    width: 0.5rem;
    height: 1.8rem;
    background-color: #33AE75;
    margin: 1.5rem 1rem 0 0;
}

.sn-phone .computer .sn-phone-pc-nav span{
    color: #2EABA3;
}

.sn-phone .computer .sn-phone-pc-nav span::before{
    background-color: #2EABA3;
}

.sn-phone .sn-phone-pc-nav .erweima{
    float: left;
    margin: 1.5rem 0 0 1rem;
}

.sn-phone .sn-phone-pc-nav ul{
    float: right;
    height: 100%;
    margin-right: 1rem;
}

.sn-phone .sn-phone-pc-nav ul li{
    line-height: 4.7rem;
    float: left;
    margin: 0 1rem 0 1rem;
    font-size: 1.4rem;
}

/*内容*/
.sn-phone .sn-phone-content{
    width: 100%;
    height: 51.8rem;
    background-color: white;
    border-bottom-left-radius: 0.5rem;
}

.sn-phone .sn-phone-content .phone-iamge{
    float: left;
    width: 19rem;
    height: 36rem;
}

.sn-phone .sn-phone-content .first-line ul{
    float: left;
    width: 40rem;
}

.sn-phone .sn-phone-content .first-line ul li{
    float: left;
    width: 20rem;
    height: 18rem;
    box-sizing: border-box;
    border-bottom: 1px solid #f9f9f9;
    text-align: center;
}

.sn-phone .sn-phone-content .first-line ul li:nth-child(1),
.sn-phone .sn-phone-content .first-line ul li:nth-child(3){
    border-right: 1px solid #f9f9f9;
}

.sn-phone .sn-phone-content .first-line ul li .img-name{
    color: black;
    font-size: 1.5rem;
    margin: 1.5rem 0 0.5rem 0;
}

.sn-phone .sn-phone-content .first-line ul li .img-desc{
    color: #33AE75;
    font-size: 1.2rem;
}

.sn-phone .sn-phone-content .first-line ul li img{
    width: 12rem;
    height: 12rem;
    transition: all 0.5s ease;
}

.sn-phone .sn-phone-content .first-line ul li img:hover{
    transform: scale(1.05);
}

.sn-phone .sn-phone-content .sec-line ul{
    width: 100%;
    height: 10.9rem;
    float: left;
}

.sn-phone .sn-phone-content .sec-line ul li{
    width: 19.6rem;
    height: 100%;
    float: left;
    box-sizing: border-box;
}
.sn-phone .sn-phone-content .sec-line ul li:nth-child(1),
.sn-phone .sn-phone-content .sec-line ul li:nth-child(2){
    border-bottom: 1px solid #f9f9f9;
    border-right: 1px solid #f9f9f9;
}

.sn-phone .sn-phone-content .sec-line ul li:nth-child(2){
    width: 19.8rem;
}

.sn-phone .sn-phone-content .sec-line ul li a div{
    float: left;
    width: 9.6rem;
    height: 10.9rem;
    text-align: center;
}

.sn-phone .sn-phone-content .sec-line ul li a div .img-name{
    color: black;
    font-size: 1.5rem;
    margin: 2.5rem 0 0.5rem 0;
}

.sn-phone .sn-phone-content .sec-line ul li a div .img-desc{
    color: #33AE75;
    font-size: 1.2rem
}

.sn-phone .sn-phone-content .sec-line ul li a img{
    float: left;
    width: 8rem;
    height: 8rem;
    margin: 1.2rem 0 0 0.5rem;
    transition: all 0.5s ease;
}


.sn-phone .sn-phone-content .sec-line ul li a img:hover{
    transform: scale(1.1);
}

.sn-phone .sn-phone-content .last-line{
    float: left;
    width: 100%;
}

.sn-phone .sn-phone-content .last-line ul{
    width: 100%;
}

.sn-phone .sn-phone-content .last-line ul li{
    float: left;
    width: 9.83rem;
    text-align: center;
}

.sn-phone .sn-phone-content .last-line ul li img{
    width: 8rem;
    height: 3rem;
    margin-top: 0.8rem;
}

/*********************手机、电脑-结束-***********************/

/*********************猜你喜欢-开始-***********************/

.favorite{
    border-bottom: 1px solid rgba(211, 211, 211, 0.4);
}

.favorite .w nav{
    height: 4.5rem;
    line-height: 4.5rem;
    margin-top: 1rem;
}

.favorite .w nav span{
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
}

.favorite .w nav span::before{
    float: left;
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 1.8rem;
    background-color: #F90;
    margin: 1.3rem 1rem 0 0 ;
}

.favorite .favorite-content{
    width: 100%;
    height: 34rem;
    background-color: white;
}

.favorite .favorite-content ul{
    width: 100%;
    height: 34rem;
    border-left: 1px solid #f9f9f9;
}

.favorite .favorite-content ul li{
    float: left;
    width: 23.8rem;
    height: 34rem;
    border-bottom: 1px solid #f9f9f9;
    border-right: 1px solid #f9f9f9;
    box-sizing: border-box;
    text-align: center;
}

.favorite .favorite-content ul li img{
    margin-top: 1rem;
    width: 21rem;
    height: 21rem;
    transition: all 0.5s ease;
}

.favorite .favorite-content ul li img:hover{
    transform: scale(1.05);
}

.favorite .favorite-content ul li a .title{
    width: 80%;
    margin: 1.5rem auto 0 auto;
    text-align: left;
    text-indent:4rem;/*首行缩进*/
    position: relative;
    color: black;
}

.favorite .favorite-content ul li a .title:hover{
    color: #F90;
}

.favorite .favorite-content ul li a .title i{
    display: inline-block;
    position: absolute;
    background: url("../images/index.png") -561px -270px;
    width: 3.5rem;
    height: 1.8rem;
    margin-right: 0.5rem;
    left: 0;
}

.favorite .favorite-content ul li a div{
    width: 80%;
    height: 3rem;
    margin: 0.5rem auto;
    color: #F60;
}

.favorite .favorite-content ul li a div p:first-child{
    float: left;
    font-weight: bold;
}

.favorite .favorite-content ul li a div p:last-child{
    float: right;
    display: inline-block;
    height: 2.2rem;
    width: 4.6rem;
    line-height: 2.2rem;
    border: 1px solid #F60;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
}

.favorite .favorite-content ul li a div p:first-child span:last-child{
    font-size: 2rem;
}

.favorite .favorite-content ul li a .tag{
    float: left;
    display: block;
    width: 3rem;
    height: 1.6rem;
    line-height: 1.6rem;
    background-color: #F60;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: white;
    margin-left: 2.2rem;
}

.favorite .footer{
    width: 30.125rem;
    height: 6rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #CCC;
    margin: 0 auto;
}

.favorite .footer p{
    float: left;
}

.favorite .footer span{
    float: left;
    display: inline-block;
    width: 10rem;
    height: 0.1rem;
    border-bottom: 1px solid #CCC;
    margin-top: 2.3rem;
}

.favorite .footer span:first-of-type{
    margin-right: 3rem;
}

.favorite .footer span:last-of-type{
    margin-left: 3rem;
}

/*********************猜你喜欢-结束-***********************/

/*********************底部footer-开始-***********************/
.sn-footer .w{
    height: 28rem;
}

.sn-footer .w .first-ad-div{
    width: 110%;
    height: 11.5rem;
}

.sn-footer .w .first-ad-div::after{
    content: '';
    float: left;
    display: block;
    width: 119rem;
    height: 0.1rem;
    border-bottom: 1px solid #e7e7e7;
    margin-top: 1.5rem;
}

.sn-footer .w .first-ad-div dl{
    float: left;
    width: 26.1rem;
    height: 10rem;
}

.sn-footer .w .first-ad-div dl dt,
.sn-footer .w .first-ad-div dl dd{
    float: left;
}

.sn-footer .w .first-ad-div dl dt img{
    width: 4.8rem;
    height: 4.8rem;
    margin-top: 2.6rem;
}

.sn-footer .w .first-ad-div dl dd a{
    display: block;
    height: 2rem;
    margin: 2.8rem 0 0.6rem 0.5rem;
    font-size: 1.4rem;
    color: black;
    font-weight: bold;
}

.sn-footer .w .first-ad-div dl dd a:hover{
    color: #F60;
}

.sn-footer .w .first-ad-div dl dd p{
    color: #545454;
    margin-left: 0.5rem;
}


.sn-footer .w .sec-ad-div{
    width: 110%;
    height: 17rem;
}

.sn-footer .w .sec-ad-div dl{
    float: left;
    width: 21.8rem;
    height: 17rem;
}

.sn-footer .w .sec-ad-div dl p{
    display: block;
    height: 3rem;
    line-height: 3rem;
    color: #545454;
    font-size: 1.4rem;
    font-weight: bold;
}

.sn-footer .w .sec-ad-div dl dd a{
    display: block;
    height: 2.2rem;
    color: #545454;
    font-size: 1.2rem;
}

.sn-footer .w .sec-ad-div dl dd a:hover{
    color: #F90;
}

.sn-footer .w .sec-ad-div dl:last-child dd a{
    width: 35%;
}

/*********************底部footer-结束-***********************/


/*********************底部footer-结束-***********************/
.bottom{
    background-color: white;
    text-align: center;
}

.bottom p{
    margin-top: 0.8rem;
}

.bottom p a{
    color: #545454;
}

.bottom p:first-child{
    margin-top: 1rem;
}

.bottom .last_ad{
    position: relative;
}

.bottom .last_ad ul{
    position: absolute;
    top: 6rem;
    right: 3rem;
    width: 61.5rem;
    height: 3rem;
}

.bottom .last_ad ul li{
    float: left;
    width: 12.3rem;
    height: 3rem;
    text-align: right;
}

.bottom .last_ad ul li a{
    display: block;
    box-sizing: border-box;
    height: 2.5rem;
    width: 10.9rem;
    background-color: rgb(251,196,31);
    margin-top: 0.25rem;
    line-height: 2.2rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(251,0,115);
    padding-right: 1rem;
    border-bottom: 1px solid gray;

}

/*********************底部footer-结束-***********************/































